{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>{{ event.title }}</h2>
<p><strong>Description:</strong> {{ event.description }}</p>
<p><strong>Location:</strong> {{ event.location }}</p>
<p><strong>Date Posted:</strong> {{ event.date.strftime('%Y-%m-%d') }}</p>

<form method="POST" action="{{ url_for('delete_event', event_id=event.id) }}">
    <button type="submit" onclick="return confirm('Are you sure?')" class="btn btn-secondary">Delete Event</button>
</form>
<a href="{{ url_for('update_event', event_id=event.id) }}" class="btn btn-primary">Update Event</a>

{% endblock %}