{% extends 'base.html' %}

{% block title %} Update Event {% endblock %}

{% block content %}

<p>Welcome to update event page </p>

<form method="POST" >
    {{ form.hidden_tag() }}
    <div>
        {{ form.title.label }}
        {{ form.title }}
    </div>
    <div>
        {{ form.description.label }}
        {{ form.description }}
    </div>
    <div>
        {{ form.location.label }}
        {{ form.location }}
    </div>
    <div>
        {{ form.submit()}}
    </div>
</form>

{% endblock %}

